* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.post {
  width: 350px;
  height: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  transition:box-shadow 1s, background-color 2s cubic-bezier(0.05, 1.51, 0.46, 1.36), 
  border-color 1s, height 1s cubic-bezier(0, 0.97, 0.46, 1.36);
  transition-delay: 0.5s;
}

.post:hover {
  background-color: bisque;
  height: 200px;
  border-color: transparent;
  box-shadow:  5px 5px 15px;
}
